/* ---- reset ---- */ 
body{ 
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    color: #ffffdd;
    transition: all 1s ease;
    font-family: 'Raleway', 'Courier New', Courier, monospace;
} 
canvas{ 
    display: block; 
} 

#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100vh; 
    background-color: #323840; 
    background-image: url("https://wallpaperaccess.com/full/210912.jpg"); background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
}

.main{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    overflow-y: scroll;
}
.main::-webkit-scrollbar{
    display: none;
}
.nav{
    width: 100%;
    height: 10vh;
    background: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
a:hover{
    color: #beebe9;
}
button{
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    font-size: 18px;
    background: transparent;
    border: 3px solid rgb(0, 180, 230);
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
}

button:hover{
    animation: border-flicker 2s linear forwards;
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
}

h1,h3{
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444;
}
button{
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(0, 180, 230), 0 0 0.5em rgb(0, 180, 230), 0 0 0.1em rgb(0, 180, 230);
}
code{
    padding: 5px;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(0, 180, 230), 0 0 0.5em rgb(0, 180, 230), 0 0 0.1em rgb(0, 180, 230);
}
span{
    animation: blink linear infinite 2s;
}
label{
  width: 100%;
  margin: 15px 20px;
  font-size: 18px;
}
input, select{
  width: 90%;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  border-radius: 25px;
  transition: all 0.3s ease;
  background: rgba(26, 26, 26, 0.5);
  border: 3px solid rgb(0, 180, 230);
  margin-left: 20px;
  color: #fee;
}
select:hover{
  animation: border-flicker 2s linear forwards;
}
input:hover{
  animation: border-flicker 2s linear forwards;
}
.checkbox{
  margin: 5px;
  padding: 0;
  width: auto;
}
.term{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  width: 90%;
  margin: 0 auto;
}
.condition{
  display: flex;
  align-items: center;
}
.intro{
  padding: 20px;
  text-align: center;
  margin: 10px auto;
}
.btn{
  text-align: center;
}

input{
  width: 85%;
}
.popuptext{
  display: none;
  position: absolute;
  top: 10vh;
  background: #323840;
  width: 90%;
  border-radius: 25px;
  padding: 20px;
}
.show{
  display: block;
}
#popup{
  cursor: pointer;
}
/* Design for Smartphone ...............*/
@media only screen and (min-width : 320px) and (max-width : 999px){
    
    .items{
        display: none;
    }
    .list{
        display: none;
    }
    .dpcontent{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100vh;
      padding: 12px 16px;
      z-index: 5;
      float: left;
      border-radius: 15px;
      text-align: center;
      background: #323840;
  }
  .dpcontent ul{
    list-style: none;
  }
  .dpcontent ul li{
      margin: 30px;
  }
  .show{
    display: block;
  }
    .nav{
        justify-content: space-between;
    }
    .logo{
        margin: 20px;
    }
    .menu{
        margin: 20px;
    }
    .show{
      display: block;
    }
    input{
      width: 80%;
    }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1000px) {
   .menu{
       display: none;
   }
   .items{
       width: 70%;
   }
   .items ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
   }
   .social{
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   .form{
     width: 50%;
     margin: 10px auto;
   }
}
